body, html {
    margin: 0px;
    padding: 0px;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}
.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.active {
    font-weight: 700;
    color: #efbf5e;
}

#gallery {
    position: absolute;
    top: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #737a39;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image1 image2 image-3 image-4" "image-5 image-6 image-7 image-8" "image-9";
    padding-top: 50px;
    padding-bottom: 50px;
    grid-gap: 15px;
    width: 95%;
    margin: 0 auto;
  }

.grid-container a {
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    background-color: white;
    color: #ACAF8F;
    margin: 0;
    padding: 15px;
}
.image1 img {
grid-area: image1;
width: 100%;
height: 100%;
}
  
  .image2 img { grid-area: image2;
    width: 100%;
    height: 100%;
 }
  
  .image-3 img { grid-area: image-3;
    width: 100%;
    height: 100%;
 }
  
  .image-4 img { grid-area: image-4;
    width: 100%;
    height: 100%;
 }
  
  .image-5 img { grid-area: image-5;
    width: 100%;
    height: 100%;
 }
  
  .image-6 img { grid-area: image-6;
    width: 100%;
    height: 100%; }
  
  .image-7 img { grid-area: image-7;
    width: 100%;
    height: 100%; }
  
  .image-8 img { grid-area: image-8;
    width: 100%;
    height: 100%;}
  
  .image-9 img { grid-area: image-9;
    width: 100%;
    height: 100%; }
  
  .image-10 img { grid-area: image-10;
    width: 100%;
    height: 100%; }
  
#topnav {
position: absolute;
height: 12vh;
width: 100%;
background-color: white;
font-size: 1em;
}
#topnav ul li a:hover {
    font-weight: 700;
    color: #efbf5e;
}
#topnav ul {
    margin-right: 2vw;
}
#topnav ul li a {
    text-decoration: none;
    margin-right: 20px;
    color: #4D511B;
}
#topnav ul li {
position: relative;
top: -8vh;
float: right;
list-style: none;
margin-right: 20px;
font-family: 'Domine', serif;
font-weight: 100;
}

.fade_out {
    animation: fadeout_kf 1s linear forwards;
}

@keyframes fadeout_kf {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}


@keyframes bounce_kf {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.0);
    }
}

#sun {
    position: absolute;
    background-image: url(assets/sun.svg);
    background-repeat: no-repeat;
    animation-name: bounce_kf;
    animation-timing-function: ease;
    height: 8vw;
    width: 8vw;
    top: 3vw;
    right: 3vw;
    background-size: 100%;
}
#cloud_1 {
    position: absolute;
    background-image: url(assets/cloud.svg);
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    top: 7vw;
    left: 20vw;
    background-size: 100%;
    z-index: 1;
}
#cloud_2 {
    position: absolute;
    background-image: url(assets/cloud.svg);
    background-repeat: no-repeat;
    animation-delay: 1s;
    height: 3vw;
    width: 3vw;
    top: 9vw;
    left: 20vw;
    background-size: 100%;
    z-index: 2;

}
#instabtn {
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: 400;
    border: 2px solid #4D511B;
    background-color: white;
    border-width: 2px 2px 2px 2px;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
#instabtn a {
    color: #4D511B;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
}
#instabtn:hover {
    transform: scale(1.1);
}
#content img {
    width: 100px;
}
#content p {
    font-size: 14px;
}
.flying {
    animation-name: flying;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes flying {
    from {
        left: 10vw;
    }

    to {
        left: 50vw;
    }
}
#subnav {
    position: absolute;
    height: 50px;
    top: 140px;
    width: 100%;
    background-color:#737a39;
    color: white;
    font-family: Domine, sans-serif;
}
#subnav .left {
    float: left;
    margin-left: 65px;
    margin-top: 2vh;
    text-transform: uppercase;
    font-size: 0.8em;
}

#subnav .middle {
    position: absolute;
    margin-left: 25vw;
    margin-top: 1vh;
    width: 35px;
    cursor: pointer;
}
#subnav .middle:hover {
    transform: scale(1.1);
}
#subnav .right {
    position: relative;
    right: -50vw;
    top: 1.5vh;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}
#music img {
    width: 50px;
    height: 50px;
}
#music {
    opacity: 1;
    position: absolute;
    top: 40vh;
    right: 41vw;
    z-index: 10;
    animation: fade_in_kf 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    cursor: pointer;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#step_1 {
position: relative;
background-image: url(assets/1.svg);
background-size: 100%;
background-repeat: no-repeat;
width: 3vw;
height: 6vh;
top: 55vh;
left: 27vw;
}

#step_2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 27vw;
    }

 #step_3 {
    position: relative;
        font-family: 'Montserrat', sans-serif;
        background-image: url(assets/3.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 3vw;
        height: 6vh;
        top: 55vh;
        left: 27vw;
}
     
#step_4 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/4.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 27vw;
    }

#step_5 {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        background-image: url(assets/5.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 3vw;
        height: 6vh;
        top: 55vh;
        left: 27vw;
}

#step_6 {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            background-image: url(assets/6.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 3vw;
            height: 6vh;
            top: 55vh;
            left: 27vw;
 }
            
#step_7 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/7.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 27vw;
 }

 #step_8 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/8.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 27vw;
}

#step_9 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/9.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 27vw;
    }


    @keyframes next_back_kf {
        0% {
            transform: scale(0.96);
        }
    
        50% {
            transform: scale(1.0);
        }
        100% {
            transform: scale(0.96);
        }
    }

#next_1:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_2:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_3:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_4:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_5:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_6:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_7:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
 #next_8:hover {
    animation: next_back_kf 2s infinite ease-in-out;
 }
#reload:hover {
    animation: next_back_kf 2s infinite ease-in-out;
}

#next_1 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}
#next_2 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}
#next_3 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}

#next_4 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}
#next_5 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}

#next_6 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}

#next_7 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}

#next_8 {
    position: relative;
    cursor: pointer;
    top: -5vh;
    right: -15vw;
    width: 130px;
}
#reload {
    position: relative;
    top: 5vh;
    left: -5vw;
    cursor: pointer;
    width: 130px;
}

#screen_1 {
    position: absolute;
    width: 50vw;
    height: 70vh;
    background-image: url('screens/screen_1.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_1 {
    position: absolute;
    background-image: url('txtbubbles/txt_1.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 8vw;
    right: 18vw;
    z-index: 3;
}

#screen_2 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_2.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_2 {
    position: absolute;
    background-image: url('txtbubbles/txt_2.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 8vw;
    right: 18vw;
    z-index: 3;
}

#screen_3 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_3.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_3 {
    position: absolute;
    background-image: url('txtbubbles/txt_3.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 8vw;
    right: 18vw;
    z-index: 3;
}

#screen_4 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_4.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_4 {
    position: absolute;
    background-image: url('txtbubbles/txt_4.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 17vw;
    z-index: 3;
}

#screen_5 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_5.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_5 {
    position: absolute;
    background-image: url('txtbubbles/txt_5.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 18vw;
    z-index: 3;
}

#screen_6 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_6.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_6 {
    position: absolute;
    background-image: url('txtbubbles/txt_6.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 5vw;
    right: 18vw;
    z-index: 3;
}
#screen_7 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_5.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_7 {
    position: absolute;
    background-image: url('txtbubbles/txt_7.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 18vw;
    z-index: 3;
}

#screen_8 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_8.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_8 {
    position: absolute;
    background-image: url('txtbubbles/txt_8.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 25vh;
    top: 5vw;
    right: 18vw;
    z-index: 3;
}

#screen_9 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_9.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 15vw;
    right: 5vw;
}

#txt_9 {
    position: absolute;
    background-image: url('txtbubbles/txt_9.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 18vw;
    z-index: 3;
}

#still_cup {
position: absolute;
background-size: 100%;
background-repeat: no-repeat;
background-image: url(assets/still_cup.svg);
width: 4vw;
height: 8vh;
top: 31vh;
right: 34vw;
}

#hand {
position: absolute;
animation: pointing 1.5s ease infinite;
background-image: url(assets/hand.svg);
background-size: 100%;
background-repeat: no-repeat;
width: 3vw;
height: 6vh;
top: 42vh;
right: 28vw;
}

@keyframes pointing {
    0%       { transform: translatex(-10px) translatey(20px) }
    50%      { transform: translatex(10px) translatey(-10px); }
    100%     { transform: translatex(-10px) translatey(20px) }
    }

#brown_pot {

    animation: rotate 2s infinite linear;
    position: absolute;
    height: 5vw;
    width: 4.5vw;
    top: 17vw;
    right: 22.5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(assets/ceramic.svg);
    border-radius: 50%;
}

@keyframes rotate {
from {
    transform: rotate(0deg);
    }
to {
   transform: rotate(360deg);
    }
}

@keyframes character_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -300% 0;
    }
}
@keyframes character_idea_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}
@keyframes painting_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -300% 0;
    }
}

#can {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/can.svg);
    height: 19vw;
    width: 9vw;
    top: 8vw;
    right: 32.5vw;
    background-size: 300% 100%;
}

#painting {
    animation-name: painting_kf;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/painting.svg);
    height: 20vw;
    width: 10vw;
    top: 12vw;
    right: 33vw;
    background-size: 300% 100%;
}

#fire {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/fire.svg);
    height: 10vw;
    width: 5vw;
    top: 9.3vw;
    right: 26.5vw;
    background-size: 300% 100%;
}
#cup_done {
    display: inline-block;
    position: absolute;
    background-image: url(assets/cup_done.svg);
    background-repeat: no-repeat;
    height: 10vw;
    width: 5vw;
    top: 22vw;
    right: 35vw;
    background-size: 100%;
}
#character {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/character.svg);
    height: 20vw;
    width: 10vw;
    top: 10vw;
    right: 8vw;
    background-size: 300% 100%;
}

#char_victory {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/char_victory.svg);
    height: 30vw;
    width: 15vw;
    top: 5.5vw;
    right: 4.8vw;
    background-size: 300% 100%;
}

#char_idea {
    animation-name: character_idea_kf;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(4);
    display: inline-block;
    position: absolute;
    background-image: url(assets/char_idea.svg);
    height: 22vw;
    width: 12vw;
    top: 9.7vw;
    right: 6vw;
    background-size: 400% 100%;
}

#pot_1 {
    position: absolute;
    background-image: url(assets/pot.svg);
    background-repeat: no-repeat;
    height: 16vw;
    width: 6vw;
    top: 12vw;
    right: 38vw;
    background-size: 100%;
}
#content h1 {
    font-weight: 300;
    color: #4D511B;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 35px;
}
#content {
 position: absolute;
 top: 33vh;
 width: 33vw;
 left: 7vw;
 text-align: center;
 font-family: 'Domine', serif;
 line-height: 2.5vh;
}
#instagallery h1 {
    position: absolute;
    top: 55vh;
    left: 11.5vw;
    font-family: 'Montserrat',sans-serif;
    color: #4D511B;
}
#instagallery img {
    position: absolute;
    width: 600px;
    top: 63vh;
    left: 7vw;
}

#logo img {
    width: 100px; 
    margin-left: 60px;
    margin-top: 1.5vh;
}

@media screen and (max-width: 1025px) {
  #screen_1 {
      width: 85%;
      top: 20vh;
      left: 8vw;
      height: 40vh;
  }
  #screen_2 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_3 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_4 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_5 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_6 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_7 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_8 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
#screen_9 {
    width: 85%;
    top: 20vh;
    left: 8vw;
    height: 40vh;
}
  #reload {
      top: 0vh;
      left: -18vw;
  }
  #next_1 {
      top: -8vh;
      left: 25vw;
  }
  #next_2 {
    top: -8vh;
    left: 25vw;
}
#next_3 {
    top: -8vh;
    left: 25vw;
}
#next_4 {
    top: -8vh;
    left: 25vw;
}
#next_5 {
    top: -8vh;
    left: 25vw;
}
#next_6 {
    top: -8vh;
    left: 25vw;
}
#next_7 {
    top: -8vh;
    left: 25vw;
}
#next_8 {
    top: -8vh;
    left: 25vw;
}
  #music {
      top: 23vh;
      left: 20vw;
  }
  #step_1 {
      top: 33vh;
      width: 50px;
      left: 0vw;
  }
  #step_2 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_3 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_4 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_5 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_6 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_7 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_8 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
#step_9 {
    top: 33vh;
    width: 50px;
    left: 0vw;
}
  #character {
      top: 15vh;
      width: 12vh;
      height: 22vh;
      right: 13.5vw;
  }
  #char_idea {
    top: 15.3vh;
    width: 14vh;
    height: 24vh;
    right: 11vw;
}
#char_victory {
    top: 15.3vh;
    width: 16vh;
    height: 26vh;
    right: 10vw;
}
#cup_done {
    top: 26vh;
    left: 20vw;
    width: 10vw;
}
#brown_pot {
    top: 22vh;
    right: 38vw;
    width: 8vw;
    height: 7vh;
}
#hand {
    top: 28vh;
    right: 48vw;
    width: 4vw;
}
#fire {
    top: 17vh;
    left: 33vw;
}
#still_cup {
    top: 21.5vh;
    left: 25vw;
}
#can {
    top: 16vh;
    left: 16.5vw;
    width: 13vw;
}

#painting {
    top: 20vh;
    right: 50vw;
    width: 15vw;
}
  #txt_1 {
      width: 25vw;
      left: 30vw;
      top: 8vh;
  }

  #txt_2 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}

#txt_3 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}

#txt_4 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}

#txt_5 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}

#txt_6 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}

#txt_7{
    width: 25vw;
    left: 30vw;
    top: 8vh;
}
#txt_8 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}
#txt_9 {
    width: 25vw;
    left: 30vw;
    top: 8vh;
}
  #cloud_1 {
   top: 10vh;
   width: 8vw;
  }
  #cloud_2 {
      top: 12vh;
      width: 5vw;
  }
  
#logo img {
    width: 100px; 
    margin-left: 8vw;
}
#topnav {
    width: 100%;
}
#topnav ul li a {
    font-size: 0.8em;
    margin: 0;
}
#subnav {
    top: 14vh;
    width: 100%;
}
#subnav .left {
    margin-left: 40px;
}
#subnav .middle {
    left: 10vw;
}
#subnav .right {
    right: -24vw;
}
#sun {
    top: 5vh;
    right: 5vw;
}
  @keyframes flying {
      from {
          left: 10vw;
      }
      to {
       left: 70vw;
      }
  }
  #pot_1 {
      top: 18vh;
      left: 20vw;
      width: 10vw;
      height: 18vh;
  }
  #content {
      top: 56vh;
      width: 80%;
      left: 10vw;
  }
  #instagallery img {
      top: 85vh;
  }
  #instagallery h1 {
      top: 75vh;
  }
  #music img {
      margin-left: 35px;
  }
  .grid-container {
      grid-template-columns: 1fr 1fr;
      width: 75%;
  }
  #gallery {
      top: 110vh;
      height: 155vh;
  }
  }

  
@media screen and (max-width: 500px) {
    #subnav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 16vh;
        top: 15vh;
        font-size: 0.8em;
        text-align: center;
    }
    #topnav {
        width: 100%;
        font-size: 0.8em;
    }

  #screen_1 {
      top: 40vh;
  }
  #screen_2 {
    top: 40vh;
}
#screen_3 {
    top: 40vh;
}
#screen_4 {
    top: 40vh;
}
#screen_5 {
    top: 40vh;
}
#screen_6 {
    top: 40vh;
}
#screen_7 {
    top: 40vh;
}
#screen_8 {
    top: 40vh;
}
#screen_9 {
    top: 40vh;
}
    #logo img {
        width: 60px;
        margin-left: 0;
    }
    #content p {
        font-size: 12px;
    }
    #subnav .left {
        margin-left: -8px;
    }
    #subnav .middle {
        margin-left: 130px;
        margin-top: 0px;
    }
    #subnav .right {
        top: 5vh;
        right: -2vw;
       text-align: center;
    }
    #music img {
        margin-top: 15vh;
        margin-left: 6vw;
    }
    #music {
        width: 50px;
        height: 50px;
    }
    #next_1 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_2 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_3 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_4 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_5 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_6 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_7 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #next_8 {
        top: -12vh;
        left: 33vw;
        width: 80px;
    }
    #reload {
        top: -5vh;
        left: -28vw;
        width: 80px;
    }
    #character {
     top: 5vh;
     width: 14vw;
     height: 24vh;
    }
    #char_idea {
        top: 4.5vh;
        width: 16vw;
        height: 26vh;
       }
       #char_victory {
        top: 8vh;
        width: 20vw;
        height: 20vh;
       }
    #brown_pot {
        top: 15vh;
        width: 7vw;
        height: 8vw;
    }
    #hand {
        top: 18vh;
    }
    #still_cup {
        top: 13vh;
    }
    #txt_1 {
        top: 5vh;
    }
    #txt_2 {
        top: 5vh;
    }
    #txt_3 {
        top: 5vh;
    }
    #txt_4 {
        top: 5vh;
    }
    #txt_5 {
        top: 3vh;
    }
    #txt_6 {
        top: 5vh;
    }
    #txt_7 {
        top: 3vh;
    }
    #txt_8 {
        top: 5vh;
    }
    #txt_9 {
        top: 5vh;
    }
    #pot_1 {
     top: 10vh;
    }
    #cloud_1 {
top: 5vh;
    }
    #cloud_2 {
top: 8vh;
    }
    #painting {
        top: 12vh;
    }
    #cup_done {
        top: 16vh;
    }
    #sun {
        top: 3vh;
    }
    #step_1 {
        top: 25vh;
        width: 40px;
    }
    #step_2 {
        top: 22vh;
        width: 40px;
    }
    #step_3 {
        top: 22vh;
        width: 40px;
    }
    #step_4 {
        top: 22vh;
        width: 40px;
    }
    #step_5 {
        top: 22vh;
        width: 40px;
    }
    #step_6 {
        top: 22vh;
        width: 40px;
    }
    #step_7 {
        top: 22vh;
        width: 40px;
    }
    #step_8 {
        top: 22vh;
        width: 40px;
    }
    #step_9 {
        top: 22vh;
        width: 40px;
    }
    #content {
        top: 70vh;
    }
    #content img {
        width: 80px;
    }
    #content h1 {
        width: 100%;
        font-size: 1.5em;
        margin-top: 20px;
    }
    #kurv {
        width: 50px;
        margin-right: -20px;
    }
    #fire {
        top: 10.5vh;
    }
    #can{
        top: 10vh;
    } 
    .grid-container {
        grid-template-columns: 1fr;
        width: 75%;
    }
    #gallery {
        top: 150vh;
        height: 465vh;
    }
}