body, html {
    margin: 0;
    padding: 0;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}
.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.active {
    font-weight: 700;
    color: #efbf5e;
}

#topnav {
position: absolute;
height: 10vh;
width: 100%;
background-color: white;
font-size: 1.1em;
}

#topnav ul {
    margin-right: 2vw;
}
#topnav ul li a {
    text-decoration: none;
}
#topnav ul li {
position: relative;
top: -8vh;
float: right;
list-style: none;
margin-right: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 100;
}

.fade_out {
    animation: fadeout_kf 1s linear forwards;
}

@keyframes fadeout_kf {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}


@keyframes bounce_kf {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.0);
    }
}

#sun {
    position: absolute;
    background-image: url(assets/sun.svg);
    background-repeat: no-repeat;
    animation-name: bounce_kf;
    animation-timing-function: ease;
    height: 8vw;
    width: 8vw;
    top: 3vw;
    right: 3vw;
    background-size: 100%;
}
#cloud_1 {
    position: absolute;
    background-image: url(assets/cloud.svg);
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    top: 5vw;
    left: 20vw;
    background-size: 100%;
    z-index: 1;
}
#cloud_2 {
    position: absolute;
    background-image: url(assets/cloud.svg);
    background-repeat: no-repeat;
    animation-delay: 1s;
    height: 3vw;
    width: 3vw;
    top: 7vw;
    left: 20vw;
    background-size: 100%;
    z-index: 2;

}

.flying {
    animation-name: flying;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes flying {
    from {
        left: 13vw;
    }

    to {
        left: 50vw;
    }
}
#subnav {
    position: absolute;
    height: 5vh;
    top: 12vh;
    width: 100%;
    background-color: #ACAF8F;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
#subnav .left {
    float: left;
    margin-left: 20vw;
}

#subnav .middle {
    position: absolute;
    margin-left: 25vw;
    margin-top: 0.7vh;
    width: 35px;
    cursor: pointer;
}

#subnav .right {
    float: right;
    margin-right: 20vw;
}
#music img {
    width: 60px;
}
#music {
    opacity: 1;
    position: absolute;
    top: 28vh;
    right: 37vw;
    z-index: 10;
    animation: fade_in_kf 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    cursor: pointer;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#step_1 {
position: relative;
background-image: url(assets/1.svg);
background-size: 100%;
background-repeat: no-repeat;
width: 3vw;
height: 6vh;
top: 55vh;
left: 28vw;
}

#step_2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 28vw;
    }

 #step_3 {
    position: relative;
        font-family: 'Montserrat', sans-serif;
        background-image: url(assets/3.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 3vw;
        height: 6vh;
        top: 55vh;
        left: 28vw;
}
     
#step_4 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/4.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 28vw;
    }

#step_5 {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        background-image: url(assets/5.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 3vw;
        height: 6vh;
        top: 55vh;
        left: 28vw;
}

#step_6 {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            background-image: url(assets/6.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 3vw;
            height: 6vh;
            top: 55vh;
            left: 28vw;
 }
            
#step_7 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/7.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 28vw;
 }

 #step_8 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/8.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 28vw;
}

#step_9 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/9.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    top: 55vh;
    left: 28vw;
    }


#next_1 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}
#next_2 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}
#next_3 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}

#next_4 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}
#next_5 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}

#next_6 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}

#next_7 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}

#next_8 {
    position: relative;
    cursor: pointer;
    top: -3vh;
    right: -8vw;
}
#reload {
    position: relative;
    top: 3vh;
    left: -4vw;
    cursor: pointer;
}

#screen_1 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_1.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_1 {
    position: absolute;
    background-image: url('txtbubbles/txt_1.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 8vw;
    right: 18vw;
    z-index: 3;
}

#screen_2 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_2.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_2 {
    position: absolute;
    background-image: url('txtbubbles/txt_2.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 8vw;
    right: 18vw;
    z-index: 3;
}

#screen_3 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_3.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_3 {
    position: absolute;
    background-image: url('txtbubbles/txt_3.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 8vw;
    right: 18vw;
    z-index: 3;
}

#screen_4 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_4.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_4 {
    position: absolute;
    background-image: url('txtbubbles/txt_4.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 17vw;
    z-index: 3;
}

#screen_5 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_5.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_5 {
    position: absolute;
    background-image: url('txtbubbles/txt_5.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 18vw;
    z-index: 3;
}

#screen_6 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_6.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_6 {
    position: absolute;
    background-image: url('txtbubbles/txt_6.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 5vw;
    right: 18vw;
    z-index: 3;
}
#screen_7 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_5.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_7 {
    position: absolute;
    background-image: url('txtbubbles/txt_7.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 18vw;
    z-index: 3;
}

#screen_8 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_8.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_8 {
    position: absolute;
    background-image: url('txtbubbles/txt_8.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 5vw;
    right: 18vw;
    z-index: 3;
}

#screen_9 {
    position: absolute;
    width: 50vw;
    height: 75vh;
    background-image: url('screens/screen_9.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    top: 12vw;
    right: 5vw;
}

#txt_9 {
    position: absolute;
    background-image: url('txtbubbles/txt_9.svg');
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 12vw;
    height: 22vh;
    top: 3vw;
    right: 18vw;
    z-index: 3;
}

#still_cup {
position: absolute;
background-size: 100%;
background-repeat: no-repeat;
background-image: url(assets/still_cup.svg);
width: 4vw;
height: 8vh;
top: 31vh;
right: 34vw;
}

#hand {
position: absolute;
animation: pointing 1.5s ease infinite;
background-image: url(assets/hand.svg);
background-size: 100%;
background-repeat: no-repeat;
width: 3vw;
height: 6vh;
top: 42vh;
right: 28vw;
}

@keyframes pointing {
    0%       { transform: translatex(-10px) translatey(20px) }
    50%      { transform: translatex(10px) translatey(-10px); }
    100%     { transform: translatex(-10px) translatey(20px) }
    }

#brown_pot {

    animation: rotate 2s infinite linear;
    position: absolute;
    height: 5vw;
    width: 4.5vw;
    top: 17vw;
    right: 22.5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(assets/ceramic.svg);
    border-radius: 50%;
}

@keyframes rotate {
from {
    transform: rotate(0deg);
    }
to {
   transform: rotate(360deg);
    }
}

@keyframes character_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -300% 0;
    }
}
@keyframes character_idea_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}
@keyframes painting_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -300% 0;
    }
}

#can {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/can.svg);
    height: 19vw;
    width: 9vw;
    top: 8vw;
    right: 32.5vw;
    background-size: 300% 100%;
}

#painting {
    animation-name: painting_kf;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/painting.svg);
    height: 20vw;
    width: 10vw;
    top: 12vw;
    right: 33vw;
    background-size: 300% 100%;
}

#fire {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/fire.svg);
    height: 10vw;
    width: 5vw;
    top: 9.3vw;
    right: 26.5vw;
    background-size: 300% 100%;
}
#cup_done {
    display: inline-block;
    position: absolute;
    background-image: url(assets/cup_done.svg);
    background-repeat: no-repeat;
    height: 10vw;
    width: 5vw;
    top: 22vw;
    right: 35vw;
    background-size: 100%;
}
#character {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/character.svg);
    height: 20vw;
    width: 10vw;
    top: 10vw;
    right: 8vw;
    background-size: 300% 100%;
}

#char_victory {
    animation-name: character_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    display: inline-block;
    position: absolute;
    background-image: url(assets/char_victory.svg);
    height: 30vw;
    width: 15vw;
    top: 5.5vw;
    right: 4.8vw;
    background-size: 300% 100%;
}

#char_idea {
    animation-name: character_idea_kf;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(4);
    display: inline-block;
    position: absolute;
    background-image: url(assets/char_idea.svg);
    height: 22vw;
    width: 12vw;
    top: 9.7vw;
    right: 6vw;
    background-size: 400% 100%;
}

#pot_1 {
    position: absolute;
    background-image: url(assets/pot.svg);
    background-repeat: no-repeat;
    height: 16vw;
    width: 6vw;
    top: 12vw;
    right: 38vw;
    background-size: 100%;
}
#content {
 position: absolute;
 top: 20vh;
 width: 30vw;
 left: 5vw;
 text-align: center;
 font-family: 'Montserrat',sans-serif;
}
#instagallery h1 {
    position: absolute;
    top: 50vh;
    left: 9vw;
    font-family: 'Montserrat',sans-serif;
}
#instagallery img {
    position: absolute;
    width: 600px;
    top: 60vh;
    left: 5vw;
}